body {
  background-color: #ffe6e6;
  display: block;
  align-items: center;
  justify-content: center;

}
#topbar {
  position: fixed;
  top: 0;
  background-color: lightgrey;
  width: 100%;
}

#app {
  margin-top: 250px;
  margin-left: 100px;
  width: 70%;



}

.movieItem {
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  width: 50%;
  padding: 10px;
  border: solid black;
  display: inline-block;
  margin-left: 150px;

}
.movieItem button {
  float: right;
  background-color: rgb(32, 175, 201);
  text-shadow: white;
}
.movieItem .deleteMovies {
  float: left;
  color: #ffe6e6;
  text-shadow: white;
  background-color: rgb(36, 5, 33);
  margin-right: 10px;
  border-radius: 50%;
}
.searchbar, .addMovieBar {
  margin-left: 150px;
  margin-bottom: 25px;
  background-color: lavender;
  width: 50%;
  padding: 10px;
  border: solid black;
}

.toggles{
  margin-left: 150px;
  width: 50%;
}

.toggles button {
  height: 40px;
}