body {
  background-color: #ffe6e6;
  display: block;
  align-items: center;
  justify-content: center;

}
#topbar {
  position: fixed;
  top: 0;
  background-color: lightgrey;
  width: 100%;
}

#app {
  margin-top: 250px;
  margin-left: 100px;
  width: 70%;



}

.moviebox span {
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  width: 50%;
  padding: 10px;
  border: solid black;
  display: block;
  margin-left: 150px;

}
.searchbar, .addMovieBar {
  margin-left: 150px;
  margin-bottom: 25px;
  background-color: lavender;
  width: 50%;
  padding: 10px;
  border: solid black;
}